<div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
    <h2>Event Mail</h2>
    <%= form_with model: @group_mail,url: group_group_mails_path(@group),method: :post, local:true do |f| %>
      <%= render 'layouts/errors', obj: @group_mail %>
      <div class="form-group">
        <%= f.label :title  %>
        <%= f.text_field :title , class: "form-control title" %>
      </div>
      <div class="form-group">
        <%= f.label :body  %>
        <%= f.text_area :body, class: "form-control body" %>
      </div>
      <div class="form-group">
        <%= f.submit "é€ä¿¡" ,class: 'btn btn-secondary' %>
      </div>
    <% end %>
  </div>
</div>